<%= form_for(@tweet) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :site_id %><br>
    <%= f.number_field :site_id %>
  </div>
  <div class="field">
    <%= f.label :result_size %><br>
    <%= f.number_field :result_size %>
  </div>
  <div class="field">
    <%= f.label :retweets %><br>
    <%= f.number_field :retweets %>
  </div>
  <div class="field">
    <%= f.label :favs %><br>
    <%= f.number_field :favs %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
